@font-face {
    font-family: 'Bricolage';
    src: url('../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'DM_Sans';
    src: url('../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 2rem;
}

h1 {
    font-family: 'Bricolage', serif;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

.search {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
}

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #25253f;
    height: 3.5rem;
    border-radius: 10px;
}

.inputIcon {
    position: absolute;
    left: 0.75rem;
    color: #fff;
    font-size: 1.25rem;
}

.searchInput {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.searchInput:focus {
    border-radius: 10px;
}

.searchInput::placeholder {
    color: #fff;
    opacity: 0.5;
}

.searchButton {
    background-color: #4657d9;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    height: 3.5rem;
    width: 100%;
}

.placeList {
    position: absolute;
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: #25253f;
    padding: 0.5rem;
    border-radius: 10px;
    top: 4rem;
}

.placeList h3 {
    font-family: 'DM_Sans', sans-serif;
    font-size: 1rem;
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

.placeList img {
    height: 80%;
    padding: 0 0.3rem;
}

.placeList button {
    border: none;
    color: #fff;
    text-align: left;
    padding: 0;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    background-color: #25253f;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.placeList button:hover {
    background-color: #3a3a5f;
    border: 0.5px solid #ffffff57;
}

.isVisible{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
}

@media (min-width: 1200px) {
  .header{
    margin-top: 0;
  }

  .search{
    flex-direction: row;
  }

  .inputContainer{
    max-width: 32rem;
  }

  .searchButton{
    max-width: 7rem;
  }

  .placeList{
    max-width: 32rem;
  }
}